<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="centered">
        <article class="card product-detail">
            <h1 class="product-detail__title"><%= product.title %></h1>
            <div class="product-detail__image-container">
                <img class="product-detail__image" src="/<%= product.imageUrl %>" alt="<%= product.title %>">
            </div>
            <h2 class="product-detail__price">$ <%= product.price %></h2>
            <p class="product-detail__description"><%= product.description %></p>
            <%- include('../includes/add-to-cart.ejs', {product: product}) %>
        </article>
    </main>
    
    <%- include('../includes/end.ejs') %>
</body>
